.alert, %alert {
    border: 1px solid rgb(145, 143, 143);
    border-radius: .2rem;
    background-color: rgb(187, 187, 187);
    color: black;
    padding-left: 1em;
    padding-right: 1em;
    margin: 0 .5em .5em .55em;
    &-tittle{font-weight: bold;}
    &--green {
        @extend %alert;
        color: #155724;
        border-color: #c3e6cb;
        background-color: #d4edda;
    }
    &--yellow {
        @extend %alert;
        color: #856404;
        border-color: #ffeeba;
        background-color: #fff3cd;
    }
    &--red {
        @extend %alert;
        color: #850404;
        border-color: #ffbaba;
        background-color: #ffd0cd;
    }
}