.card {
    display: block;
    height: 20rem;
    padding: .5em;
    background-color: #efefef;
    border-radius: 1%;
    max-width: 95%;
    margin: auto;

    &-cuerpo {
        height: 10rem;
        color: #808080;

        &-txt {
            text-align: justify;
            max-height: 5.9em;
            overflow: hidden;
        }

        & a {
            color: #007bffc9;
            text-decoration: none;
            position: absolute;
            bottom: 3%;
        }
    }

    &-cabecera {
        width: 100%;
        height: 10rem;
        overflow: clip;

        & img {
            width: 100%;
            border-radius: 1%;
        }
    }
}
 