$bg-nav : #1b396a;
$bg-nav--hover : #0554aea1;

%init {
    list-style: none;
    background-color: $bg-nav;
    color: white;
}

.dropdown {
    @extend %init;
    background-color: $bg-nav;

    &-content {
        display: flex;
        color: white;
    }

    &-item {
        @extend %init;
        padding: 1rem;
        width: 5rem;

        &:hover {
            background-color: $bg-nav--hover;
            cursor: pointer;

            &>.dropdown--hide {
                display: block;
                position: absolute;
                z-index: 100;
                -moz-transform: translate(6em, -1rem);
            }
        }
    }

    &--hide {
        @extend %init;
        display: none;
        border: solid 1px rgba(255, 255, 255, 0.452);
    }

    &--responsive {
        display: flex;
        cursor: pointer;
        border-bottom: solid 1px rgba(255, 255, 255, 0.452);

        &:hover {
            background-color: $bg-nav--hover;
        }

        &::before {
            content: '≡';
            color: white;
            font-weight: bold;
            font-size: 5ex;
            margin-right: .5rem;
        }
    }
}

.show {
    display: block;
}

.activo {
    background-color: $bg-nav--hover !important;
}

//responsivo

@media only screen and (max-width: 1300px) {
    .dropdown {

        &-item {
            @extend %init;
            padding: .5rem 0 .5rem 0;
            width: 100%;
            text-align: center;
            border-bottom: solid 1px rgba(255, 255, 255, 0.452);
            border-bottom: 0;

            &:hover {
                background-color: $bg-nav--hover;
                cursor: pointer;

                &>.dropdown--hide {
                    position: relative;
                    width: 100%;
                    -moz-transform: translate(0, 1.05em);
                }
            }

            &--hide {
                width: 100%;
                border: solid 1px rgba(255, 255, 255, 0.452);
                border-left: 0;
                border-right: 0;
            }
        }

    }

    .dropdown--hide {
        position: relative;
        width: 100%;
        -moz-transform: translate(0, 1.05em);
    }
}