.header-gobmx {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: #343a40;
    min-height: 2em;
    padding: .5em;
    color: #ffffff;
    & svg{
        min-height: 1cm;
        width: 100px;
        height: 10px;
    }
    &__link {
        display: block;
        color: #ffffff;
        &:hover {
            color: #f8f8f8;
        }
    }
}

.footer-gobmx {
     display: block;
        background-color: #0b231e;
        color: #fff;
        min-height: 2em;
        padding: .5em;
        & a{
            color: #c4ffd5;
            &:hover {
                color: #53ae6e;
            }
        }
        &-contenedor{
            display: grid;
            grid-template-columns: repeat(auto-fill, calc(25rem));
            gap: 2em;
            margin: 1em;
        }

    &__fondo {
        background-image: url();
    }
    
}