.svg--white{
    --text-color: #ffffff;
}
.bx-viewport{
    max-height:369px !important; 
}
.header-tecnm{
    display: flex;
    position: static;
    top: 10vh;
    background-color: #ffffff;
    min-height: 2em;
    padding: .5em;
    & .logo-gobmx, .logo-sep, .logo-tecnm, .logo-itcolima{
        width: 200px;
        min-height: 1cm;
        max-height: 100px;
        height: 60px;
        &:hover{
            opacity: 0.5;
        }
    }
    &__link {
        color: #1b396a;
        &:hover {
            color: #f8f8f8;
        }
    }
    & .logo-instituto{
        display: flex;
        flex-direction: column;
    }
}

.footer-tecnm{
    display: block;
    background-color: #1b396a;
    color: #fff;
    min-height: 2em;
    padding: .5em;
    & a{
        color: #beeaff;
        &:hover {
            color: #75d2ff;
        }
    }
    &-contenedor{
        display: grid;
        grid-template-columns: repeat(auto-fill, calc(25rem));
        gap: 2em;
        margin: 1em;
    }
    &-cr{
        text-align: center;
        padding: .5em;
        border-top: 1px solid #ffffff17;
    }
}

@media only screen and (max-width: 600px) {
    .logo-gobmx,.logo-sep{
        display: none;
    }
}
@media only screen and (max-width: 1100px) {
    .logo-sep{
        display: none;
    }
}