.header-tecnm{
    display: flex;
    flex-wrap: wrap;
    position: static;
    top: 10vh;
    background-color: #ffffff;
    min-height: 2em;
    padding: .5em;
    &__link {
        color: #1b396a;
        &:hover {
            color: #f8f8f8;
        }
    }
}

.footer-tecnm{
    display: flex;
    flex-wrap: wrap;
    background-color: #1b396a;
    color: #ffffff;
    min-height: 2em;
    padding: .5em;
    &a {
        color: #1b396a;
        &:hover {
            color: #f8f8f8;
        }
    }
}