$p1 : .25rem !important;
$p2 : .5rem !important;
$p3 : 1rem !important;
$p4 : 1.5rem !important;
$p5 : 3rem !important;
$m1 : .25rem !important;
$m2 : .5rem !important;
$m3 : 1rem !important;
$m4 : 1.5rem !important;
$m5 : 3rem !important;
$borde: 1px solid #e1e1e1;
.p{
    &-1{
        padding: $p1;
    }
    &-2{
        padding: $p2;
    }
    &-3{
        padding: $p3;
    }
    &-4{
        padding: $p4;
    }
    &-5{
        padding: $p5;
    }
 }
 .pl{
    &-1{
        padding-left: $p1;
    }
    &-2{
        padding-left: $p2;
    }
    &-3{
        padding-left: $p3;
    }
    &-4{
        padding-left: $p4;
    }
    &-5{
        padding-left: $p5;
    }
 }
 .pr{
    &-1{
    padding-right: $p1;
    }
    &-2{
    padding-right: $p2;
    }
    &-3{
    padding-right: $p3;
    }
    &-4{
    padding-right: $p4;
    }
    &-5{
    padding-right: $p5;
    }
 }
 .pt{
    &-1{
    padding-top: $p1;
    }
    &-2{
    padding-top: $p2;
    }
    &-3{
    padding-top: $p3;
    }
    &-4{
    padding-top: $p4;
    }
    &-5{
    padding-top: $p5;
    }
 }
 .pb{
    &-1{
    padding-bottom: $p1;
    }
    &-2{
    padding-bottom: $p2;
    }
    &-3{
    padding-bottom: $p3;
    }
    &-4{
    padding-bottom: $p4;
    }
    &-5{
    padding-bottom: $p5;
    }
 }
 .m{
    &-1{
        margin: $m1;
    }
    &-2{
        margin: $m2;
    }
    &-3{
        margin: $m3;
    }
    &-4{
        margin: $m4;
    }
    &-5{
        margin: $m5;
    }
 }
 .ml{
    &-1{
        margin-left: $m1;
    }
    &-2{
        margin-left: $m2;
    }
    &-3{
        margin-left: $m3;
    }
    &-4{
        margin-left: $m4;
    }
    &-5{
        margin-left: $m5;
    }
 }
 .mr{
    &-1{
    margin-right: $m1;
    }
    &-2{
    margin-right: $m2;
    }
    &-3{
    margin-right: $m3;
    }
    &-4{
    margin-right: $m4;
    }
    &-5{
    margin-right: $m5;
    }
 }
 .mt{
    &-1{
    margin-top: $m1;
    }
    &-2{
    margin-top: $m2;
    }
    &-3{
    margin-top: $m3;
    }
    &-4{
    margin-top: $m4;
    }
    &-5{
    margin-top: $m5;
    }
 }
 .mb{
    &-1{
    margin-bottom: $m1;
    }
    &-2{
    margin-bottom: $m2;
    }
    &-3{
    margin-bottom: $m3;
    }
    &-4{
    margin-bottom: $m4;
    }
    &-5{
    margin-bottom: $m5;
    }
 }
 .border{
    border: $borde;
 }
 .border-top{
    border-top: $borde;
 }
 .border-bottom{
    border-bottom: $borde;
 }
 .border-left{
    border-left: $borde;
 }
 .border-right{
    border-right: $borde;
 }
 
 