<!DOCTYPE html>
<html lang="en">

<head>
    <title>STYLE</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/style/main.css">
    <!-- jQuery library (served from Google) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- bxSlider Javascript file -->
    <script src="/node_modules/bxslider/src/js/jquery.bxslider.js"></script>
    <!-- bxSlider CSS file -->
    <link href="/node_modules/bxslider/src/css/jquery.bxslider.css" rel="stylesheet" />

    <script src="/src/js/dropdawn.js"></script>
    <link rel="stylesheet" href="/dist/main.min.css">
</head>

<body>
    <nav class="header-gobmx">
        <a href=""><svg class="svg--white">
                <use href="/dist/graphics.svg#mx-gob-2020"></use>
            </svg>
        </a>
    </nav>
    <nav class="header-tecnm">
        <a href=""><svg class="logo-gobmx">
                <use href="/dist/graphics.svg#mx-gob-2020"></use>
            </svg>
        </a>
        <a href=""><svg class="logo-sep">
                <use href="/dist/graphics.svg#mx-sep-2020"></use>
            </svg></a>
        <a href=""><svg class="logo-tecnm">
                <use href="/dist/graphics.svg#tecnm"></use>
            </svg></a>
        <a href=""><svg class="logo-itcolima">
                <use href="/dist/graphics.svg#itcolima"></use>
            </svg></a>
    </nav>
    <nav class="nav-tecnm">
        <ul class="nav-tecnm__responsive">
            <li>
                <p>Menu</p>
            </li>
        </ul>
        <ul class="nav-tecnm__container">
            <li class="nav-tecnm-item"><a class="drop">test-1</a>
                <ul class="nav-tecnm__dropdown">
                    <li class="nav-tecnm__dropdown-item"><a>test-1.1</a></li>
                    <li class="nav-tecnm__dropdown-item"><a>test-1.2</a></li>
                </ul>
            </li>
            <li class="nav-tecnm-item"><a class="drop">test-2</a>
                <ul class="nav-tecnm__dropdown">
                    <li class="nav-tecnm__dropdown-item"><a class="drop">test-2.1</a>
                        <ul class="nav-tecnm__dropdown-another ">
                            <li class="nav-tecnm__dropdown-item"><a>test-2.1.1</a></li>
                            <li class="nav-tecnm__dropdown-item"><a class="drop">test-2.1.2</a>
                                <ul class="nav-tecnm__dropdown-another">
                                    <li class="nav-tecnm__dropdown-item"><a>test-2.2.3</a></li>
                                    <li class="nav-tecnm__dropdown-item"><a>test-2.2.4</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-tecnm__dropdown-item"><a>test-2.2</a></li>
                </ul>
            </li>
        </ul>
    </nav>

    <br>


    <div class="alert">
        <p class="alert-tittle">titulo</p>
        <p>texto </p>
    </div>
    <div class="alert--green">
        <p class="alert-tittle">titulo</p>
        <p>texto </p>
    </div>
    <div class="alert--yellow">
        <p class="alert-tittle">titulo</p>
        <p>texto </p>
    </div>
    <div class="alert--red">
        <p class="alert-tittle">titulo</p>
        <p>texto </p>
    </div>

    <ul class="slider">
        <img src="/dist/img/1.jpg" alt="">
        <img src="/dist/img/2.jpg" alt="">
        <img src="/dist/img/3.jpeg" alt="">
    </ul>
    <div class='contenedor'>
        <div class="contenedor_flex">
            <table class="table-tecnm">
                <thead>
                    <tr>
                        <th>UNIDAD</th>
                        <th>CANTIDAD</th>
                        <th>CARACTERISITCAS</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>NUMERAL</td>
                        <td>40</td>
                        <td>ES MAS CARA</td>
                    </tr>
                    <tr>
                        <td>paquete</td>
                        <td>50</td>
                        <td>premium</td>
                    </tr>
                    <tr>
                        <td>NUMERAL</td>
                        <td>40</td>
                        <td>ES MAS CARA</td>
                    </tr>
                    <tr>
                        <td>paquete</td>
                        <td>50</td>
                        <td>premium</td>
                    </tr>
                </tbody>
            </table>
            <table class="table-tecnm--primary">
                <thead>
                    <tr>
                        <th>UNIDAD</th>
                        <th>CANTIDAD</th>
                        <th>CARACTERISITCAS</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>NUMERAL</td>
                        <td>40</td>
                        <td>ES MAS CARA</td>
                    </tr>
                    <tr>
                        <td>paquete</td>
                        <td>50</td>
                        <td>premium</td>
                    </tr>
                    <tr>
                        <td>NUMERAL</td>
                        <td>40</td>
                        <td>ES MAS CARA</td>
                    </tr>
                    <tr>
                        <td>paquete</td>
                        <td>50</td>
                        <td>premium</td>
                    </tr>
                </tbody>
            </table>
            <table class="table-tecnm--secondary">
                <thead>
                    <tr>
                        <th>UNIDAD</th>
                        <th>CANTIDAD</th>
                        <th>CARACTERISITCAS</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>NUMERAL</td>
                        <td>40</td>
                        <td>ES MAS CARA</td>
                    </tr>
                    <tr>
                        <td>paquete</td>
                        <td>50</td>
                        <td>premium</td>
                    </tr>
                    <tr>
                        <td>NUMERAL</td>
                        <td>40</td>
                        <td>ES MAS CARA</td>
                    </tr>
                    <tr>
                        <td>paquete</td>
                        <td>50</td>
                        <td>premium</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis sed, fuga minima id culpa laudantium
            sit,
            commodi amet nesciunt dicta aperiam architecto qui? Atque mollitia commodi natus quasi dolores veritatis!
        </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis sed, fuga minima id culpa laudantium
            sit,
            commodi amet nesciunt dicta aperiam architecto qui? Atque mollitia commodi natus quasi dolores veritatis!
        </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis sed, fuga minima id culpa laudantium
            sit,
            commodi amet nesciunt dicta aperiam architecto qui? Atque mollitia commodi natus quasi dolores veritatis!
        </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis sed, fuga minima id culpa laudantium
            sit,
            commodi amet nesciunt dicta aperiam architecto qui? Atque mollitia commodi natus quasi dolores veritatis!
        </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis sed, fuga minima id culpa laudantium
            sit,
            commodi amet nesciunt dicta aperiam architecto qui? Atque mollitia commodi natus quasi dolores veritatis!
        </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis sed, fuga minima id culpa laudantium
            sit,
            commodi amet nesciunt dicta aperiam architecto qui? Atque mollitia commodi natus quasi dolores veritatis!
        </p>
    </div>
    <footer class="footer-tecnm">
        footer-tecnm
    </footer>
    <footer class="footer-gobmx">
        footer-gobmx
    </footer>
</body>
<script>
    $(document).ready(function () {
        $('.slider').bxSlider({
            auto: true,
            touchEnabled: true,
            slideWidth: screen.width,
            adaptiveHeight: true,
        });
    });
</script>

</html>