<!DOCTYPE html>
<html lang="en">
<head>
    <title>STYLE</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/style/main.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
    <script src="/src/style/js/dropdawn.js"></script>
</head>
<body>
    <nav class="header-gobmx">
        header-gobmx
    </nav>
    <nav class="header-tecnm">
        header-tecnm
    </nav>
    <nav class="nav-tecnm">
        <ul class="nav-tecnm__responsive">
            <li><p>Menu</p></li>
        </ul>
        <ul class="nav-tecnm__container">
          <li class="nav-tecnm-item"><a class="drop">test-1</a>
            <ul class="nav-tecnm__dropdown">
              <li class="nav-tecnm__dropdown-item"><a >test-1.1</a></li>
              <li class="nav-tecnm__dropdown-item"><a >test-1.2</a></li>
            </ul>
          </li>
          <li class="nav-tecnm-item"><a class="drop">test-2</a>
            <ul class="nav-tecnm__dropdown">
              <li class="nav-tecnm__dropdown-item"><a class="drop" >test-2.1</a>
                <ul class="nav-tecnm__dropdown-another ">
                  <li class="nav-tecnm__dropdown-item"><a >test-2.1.1</a></li>
                  <li class="nav-tecnm__dropdown-item"><a class="drop" >test-2.1.2</a> 
                    <ul class="nav-tecnm__dropdown-another">
                    <li class="nav-tecnm__dropdown-item"><a >test-2.2.3</a></li>
                    <li class="nav-tecnm__dropdown-item"><a >test-2.2.4</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li class="nav-tecnm__dropdown-item"><a >test-2.2</a></li>
            </ul>
          </li>
        </ul>
      </nav>

<br>


    <div class="alert">
    <p class="alert-tittle">titulo</p>
    <p>texto </p>
</div>
<div class="alert--green">
    <p class="alert-tittle">titulo</p>
    <p>texto </p>
</div>
<div class="alert--yellow">
    <p class="alert-tittle">titulo</p>
    <p>texto </p>
</div>
<ul class="slider">
      <table class="table-tecnm">
        <thead>
            <tr>
                <th>UNIDAD</th>
                <th>CANTIDAD</th>
                <th>CARACTERISITCAS</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>NUMERAL</td>
                <td>40</td>
                <td>ES MAS CARA</td>
            </tr>
            <tr>
                <td>paquete</td>
                <td>50</td>
                <td>premium</td>
            </tr>
            <tr>
                <td>NUMERAL</td>
                <td>40</td>
                <td>ES MAS CARA</td>
            </tr>
            <tr>
                <td>paquete</td>
                <td>50</td>
                <td>premium</td>
            </tr>
        </tbody>
      </table>
      <table class="table-tecnm--primary">
        <thead>
            <tr>
                <th>UNIDAD</th>
                <th>CANTIDAD</th>
                <th>CARACTERISITCAS</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>NUMERAL</td>
                <td>40</td>
                <td>ES MAS CARA</td>
            </tr>
            <tr>
                <td>paquete</td>
                <td>50</td>
                <td>premium</td>
            </tr>
            <tr>
                <td>NUMERAL</td>
                <td>40</td>
                <td>ES MAS CARA</td>
            </tr>
            <tr>
                <td>paquete</td>
                <td>50</td>
                <td>premium</td>
            </tr>
        </tbody>
      </table>
      <table class="table-tecnm--secondary">
        <thead>
            <tr>
                <th>UNIDAD</th>
                <th>CANTIDAD</th>
                <th>CARACTERISITCAS</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>NUMERAL</td>
                <td>40</td>
                <td>ES MAS CARA</td>
            </tr>
            <tr>
                <td>paquete</td>
                <td>50</td>
                <td>premium</td>
            </tr>
            <tr>
                <td>NUMERAL</td>
                <td>40</td>
                <td>ES MAS CARA</td>
            </tr>
            <tr>
                <td>paquete</td>
                <td>50</td>
                <td>premium</td>
            </tr>
        </tbody>
      </table>
    </ul>





<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis sed, fuga minima id culpa laudantium sit, commodi amet nesciunt dicta aperiam architecto qui? Atque mollitia commodi natus quasi dolores veritatis!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis sed, fuga minima id culpa laudantium sit, commodi amet nesciunt dicta aperiam architecto qui? Atque mollitia commodi natus quasi dolores veritatis!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis sed, fuga minima id culpa laudantium sit, commodi amet nesciunt dicta aperiam architecto qui? Atque mollitia commodi natus quasi dolores veritatis!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis sed, fuga minima id culpa laudantium sit, commodi amet nesciunt dicta aperiam architecto qui? Atque mollitia commodi natus quasi dolores veritatis!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis sed, fuga minima id culpa laudantium sit, commodi amet nesciunt dicta aperiam architecto qui? Atque mollitia commodi natus quasi dolores veritatis!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis sed, fuga minima id culpa laudantium sit, commodi amet nesciunt dicta aperiam architecto qui? Atque mollitia commodi natus quasi dolores veritatis!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis sed, fuga minima id culpa laudantium sit, commodi amet nesciunt dicta aperiam architecto qui? Atque mollitia commodi natus quasi dolores veritatis!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis sed, fuga minima id culpa laudantium sit, commodi amet nesciunt dicta aperiam architecto qui? Atque mollitia commodi natus quasi dolores veritatis!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis sed, fuga minima id culpa laudantium sit, commodi amet nesciunt dicta aperiam architecto qui? Atque mollitia commodi natus quasi dolores veritatis!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis sed, fuga minima id culpa laudantium sit, commodi amet nesciunt dicta aperiam architecto qui? Atque mollitia commodi natus quasi dolores veritatis!</p>
    <footer class="footer-tecnm">
        footer-tecnm
    </footer>
    <footer class="footer-gobmx">
        footer-gobmx
    </footer>
</body>
</html>